---
layout: main
title: releases
excerpt: All the albums, single tracks, and videos that I have created or played on.
---

<h1>Releases</h1>

<p>This is a chronological list of all releases, across all projects.</p>

<ul>
  {% for release in collections.releases | reverse %}
    <li>
      <a href="{{ release.url }}">{{ release.data.title }}</a>
      [{{ release.date.toLocaleDateString() }}]
    </li>
  {% endfor %}
</ul>
