---
layout: main
title: writings
---

<h1>Writings</h1>

<ul>
  {% for article in collections.articles %}
    <li>
      <span class="mono-date">{{ article.date.toLocaleDateString() }}</span>
      <a href="{{ article.url }}">{{ article.data.title }}</a>
    </li>
  {% endfor %}
</ul>
