<html>
<head>
  <title>david balatero | brooklyn, ny | {{ title }}</title>
  <meta content='I am a cellist and electric bass player living in Brooklyn. My projects include: SGF, netcat, Song Sparrow Research, and Operation ID.' name='description'>
  <meta content='index,follow' name='robots'>
  <link rel="stylesheet" href="/assets/styles/index.css" />
</head>
<body>
  {{ content | safe }}
</body>
</html>
