<html>
<head>
  <title>{{ title }} | david balatero</title>

  {% seo "" %}

  <link rel="stylesheet" href="/assets/styles/index.css" />
</head>
<body>
  <div id='root'>
    <header>
      <div class='photo'>
        <img src='/assets/images/david_bw.jpg' />
      </div>

      <div class='info'>
        <h1 class='name'>David Balatero</h1>

        <ul class="nav">
          <li><a href="/">home</a></li>
          <li><a href="/writings">writings</a></li>
          <li><a href="/projects">projects</a></li>
          <li><a href="/releases">releases</a></li>
        </ul>
      </div>
    </header>

    <div id="content">
      {{ content | safe }}
    </div>

    <footer>
      &copy; 2020 David Balatero &lt;d AT this domain dot com&gt;
      <br />
      <a href="https://twitter.com/dbalatero" target="_blank">Twitter</a>
      <a href="https://github.com/dbalatero" target="_blank">Github</a>
    </footer>
  </div>
</body>
</html>
