---
layout: main
---
<div class="project">
  <h1>{{ title }}</h1>

  {{ content | safe }}

  {% set releases = collections.releases | withTag(project) %}
  {% set albums = releases | withTag("albums") %}
  {% set singles = releases | withTag("singles") %}
  {% set videos = releases | withTag("videos") %}

  {% if videos.length > 0 %}
    <h2>Videos</h2>
    <ul>
      {% for release in videos | reverse %}
        <li>
          <a href="{{ release.url }}">{{ release.data.title }}</a>
          [{{ release.date.toLocaleDateString() }}]
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if albums.length > 0 %}
    <h2>Albums</h2>
    <ul>
      {% for release in albums | reverse %}
        <li>
          <a href="{{ release.url }}">{{ release.data.title }}</a>
          [{{ release.date.toLocaleDateString() }}]
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if singles.length > 0 %}
    <h2>Singles</h2>
    <ul>
      {% for release in singles | reverse %}
        <li>
          <a href="{{ release.url }}">{{ release.data.title }}</a>
          [{{ release.date.toLocaleDateString() }}]
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if personnel %}
    <h2>Personnel</h2>

    <ul>
      {% for person in personnel %}
        <li>{{ person }}</li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
