/* https://coolors.co/3c3744-090c9b-3d52d5-b4c5e4-fbfff1 */
$color-white: #FBFFF1;
$color-light-blue: #B4C5E4;
$color-medium-blue: #3D52D5;
$color-dark-blue: #090C9B;
$color-dark-gray: #3C3744;

$text-color: $color-dark-gray;
$link-color: $color-medium-blue;
$link-hover-color: $color-dark-blue;

@import "prism.scss";

/* original styles */
body {
  font-family: "New York", "Times New Roman", serif;
  font-size: 20px;
  line-height: 1.4;
  color: $text-color;
}

#root { max-width: 1000px; }
#content { margin-left: 1em; }

p { margin: 20px 0; }

.count-it-up-fuzzball { margin-top: 25px; }

h1.name { margin-top: 0; margin-bottom: 0.1em; font-size: 3em; }

header {
  display: flex;
}

header .photo {}
header .info { margin-left: 1em; }
/* end original styles */

a, a:visited {
  background: transparent;
  color: $link-color;
  text-decoration: none;
  transition: color 0.5s;
}

a:hover {
  color: $link-hover-color;
}

// a:hover {
//   background: repeating-linear-gradient(-45deg, red 0%, yellow 7.14%, rgb(0,255,0) 14.28%,
//               rgb(0,255,255) 21.4%, cyan 28.56%, blue 35.7%, magenta 42.84%, red 50%);
//   background-size: 600vw 600vw;
//   -webkit-text-fill-color: transparent;
//   -webkit-background-clip: text;
//   animation: slide 10s linear infinite forwards;
// }

// @keyframes slide {
//   0%{
//     background-position-x: 0%;
//   }
//   100%{
//     background-position-x: 600vw;
//   }
// }

blockquote {
  font-style: italic;
}

footer {
  background-color: #eee;
  margin-top: 2rem;
  padding: 0.5rem;
  font-size: 0.85rem;
}

.release {
  .release__information {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

header {
  ul.nav {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;

    li {
      display: block;
      flex: 0;
      margin-left: 1rem;

      &:first-of-type {
        margin-left: 0;
      }
    }
  }
}

.mono-date {
  font-family: monospace;
  display: inline-block;
  margin-right: 1rem;
}

.tag-list {
  display: inline-block;
  margin-left: 1rem;
}

.tag-list__tag {
  background: #777;
  color: #eee;
  text-decoration: none;
  cursor: none;
  padding: 0 0.25rem;
  border-radius: 4px;
  display: inline-block;
}

/* inline code */
:not(pre) > code {
  padding: 1px 4px;
  border-radius: 3px;
  border: 1px solid rgba(51, 51, 51, 0.1);
  background: #f5f2f0;
}

figure {
  display: block;
  position: relative;
  margin-left: 1em;
  text-align: center;
  background-color: #fdf6e3;
  max-width: 700px;
  padding: 0.75rem;

  figcaption {
    font-style: italic;
    font-size: 0.9rem;
  }
}

.anchor-link {
  font-size: 1.1rem;
}

[data-prism-file] {
  position: relative;

  &::before {
    display: block;
    content: attr(data-prism-file);
    background: #fdf6e3 url(/assets/images/file-icon.svg) no-repeat 1em 0.45em;
    background-size: 0.9em;
    width: auto;
    padding-left: 2.25em;
    padding-top: 0.25em;
    border-radius: 0;
    border-radius-top-left: .3em;
    border-radius-top-right: .3em;
    font-size: 0.85em;
    font-style: italic;
  }

  pre {
    margin: 0;
  }
}
