$link-color: blue;

/* original styles */
body {
  font-family: "New York", "Times New Roman", serif;
  font-size: 20px;
  line-height: 1.4;
}

#content { max-width: 1000px; }

p { margin: 20px 0; }

.count-it-up-fuzzball { margin-top: 25px; }

h1.name { margin-top: 0; margin-bottom: 0.1em; font-size: 3em; }

header {
  display: flex;
}

header .photo {}
header .info { margin-left: 1em; }
/* end original styles */

a, a:visited {
  background: transparent;
  color: $link-color;
  text-decoration: none;
}

a:hover {
  background: repeating-linear-gradient(-45deg, red 0%, yellow 7.14%, rgb(0,255,0) 14.28%,
              rgb(0,255,255) 21.4%, cyan 28.56%, blue 35.7%, magenta 42.84%, red 50%);
  background-size: 600vw 600vw;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: slide 10s linear infinite forwards;
}

@keyframes slide {
  0%{
    background-position-x: 0%;
  }
  100%{
    background-position-x: 600vw;
  }
}

blockquote {
  font-style: italic;
}

footer {
  background-color: #eee;
  margin-top: 2rem;
  padding: 0.5rem;
  font-size: 0.75rem;
}

.release {
  .release__information {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

header {
  ul.nav {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;

    li {
      display: block;
      flex: 0;
      margin-left: 1rem;

      &:first-of-type {
        margin-left: 0;
      }
    }
  }
}

.mono-date {
  font-family: monospace;
  display: inline-block;
  margin-right: 1rem;
}
