---
layout: main
date: Last Modified
title: home
---

<p>
  I am a musician and software developer currently living in Brooklyn, NY.
</p>

<p>
  Use the navigation up top to browse my creative projects and releases.
</p>

<img src='/assets/images/pika-pika-construction.gif'>

<!--
<hr>
<h3>Cello</h3>
<p>
I occasionally record short improvisations on cello. Here's one I did at a swamp near Fall City:
</p>
<iframe width="640" height="390" src="//www.youtube.com/embed/heHjXHttvfo" frameborder="0" allowfullscreen></iframe>
<p>
Here's one I did at Racer Sessions:
</p>
<iframe width="640" height="390" src="https://www.youtube.com/embed/RoM9eucMUyQ" frameborder="0" allowfullscreen></iframe>
<p>
Sometimes I work on classical music. Here's a video of me playing the Crumb Sonata, Mvt 3:
</p>
<iframe width="640" height="390" src="//www.youtube.com/embed/rv0HmZKa7OU" frameborder="0" allowfullscreen></iframe>
<p>
Aaron Otheim and I sometimes perform as a cello/synthesizer duo. Here's a video of us
performing some outer space soundtrack-y music, with a video synth light show by
Nick Bartoletti.
</p>
<iframe width="640" height="390" src="//www.youtube.com/embed/WK-Zvekbxpc" frameborder="0" allowfullscreen></iframe>
-->
