---
layout: main
date: Last Modified
title: home
---
<header>
<div class='photo'>
<img src='/assets/images/david_bw.jpg'>
</div>
<div class='info'>
<h1 class='name'>David Balatero</h1>
<h2 class='skills'>cello / bass / piano / synths / code / brooklyn, ny</h2>
</div>
</header>
<p>
<strong>Need to contact me?</strong> David Balatero &lt;d [at] this domain&gt;<br />
<strong>Interested in my Github?</strong> <a href="http://github.com/dbalatero">http://github.com/dbalatero</a><br />
<strong>Are you a big business butthead™?</strong> <a href="http://linkedin.com/in/dbalatero">http://linkedin.com/in/dbalatero</a>
</p>
<img src='/assets/images/pika-pika-construction.gif'>
<hr>
<h3 id='sgf'>SGF</h3>
<p>
This is my electronic pop project with best friends Rob Hanlon and
Ryan Batie. It's really fun. I play keyboards + electric bass and
co-write/co-produce the songs.
</p>
<p>
In 2016 we're releasing a new single every 3 weeks. Check out our
<a href="http://music.sgf.zone" target="_blank">Bandcamp page</a> to see
what we've done so far!
</p>
<iframe style="border: 0; width: 100%; height: 120px;" src="http://bandcamp.com/EmbeddedPlayer/track=1486737357/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/transparent=true/" seamless><a href="http://music.sgf.zone/track/heart-attack">Heart Attack by SGF</a></iframe>
<ul>
<li>
<a href='http://sgf.zone' target='_blank'>http://sgf.zone</a>
</li>
<li>
<a href='http://twitter.com/SGFsounds' target='_blank'>@SGFsounds on Twitter</a>
</li>
<li>
<a href='https://www.facebook.com/SGFsounds' target='_blank'>Facebook</a>
</li>
</ul>
<hr>
<h3 id='ssr'>Song Sparrow Research</h3>
<p>
I've been playing with Song Sparrow Research for a while now and we've
<a href="http://songsparrowresearch.bandcamp.com" target="_blank">put out a few albums since</a>.
I play cello, electric bass, and a bit of in-studio keyboards. We just released a new record in
July 2015 titled <em>Sympathetic Buzz</em>
</p>
<iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=909875984/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/transparent=true/" seamless><a href="http://songsparrowresearch.bandcamp.com/album/sympathetic-buzz">Sympathetic Buzz by Song Sparrow Research</a></iframe>
<iframe style="border: 0; width: 100%; height: 120px;" src="http://bandcamp.com/EmbeddedPlayer/album=937426703/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/transparent=true/" seamless><a href="http://songsparrowresearch.bandcamp.com/album/song-sparrow-research">Song Sparrow Research by Song Sparrow Research</a></iframe>
<p>
<iframe width="640" height="390" src="//www.youtube.com/embed/Ohp1i0hhwig" frameborder="0" allowfullscreen></iframe>
</p>
<hr>
<h3 id='operation-id'>Operation ID</h3>
<p>
A wild and crazy bionic synth free-jazz band, which is sadly not active anymore. Probably
one of the most fun projects I've ever been in. I play electric bass.
</p>
<iframe style="border: 0; width: 100%; height: 120px;" src="http://bandcamp.com/EmbeddedPlayer/album=2054487193/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/transparent=true/" seamless><a href="http://store.opidmusic.com/album/legs">Legs by Operation ID</a></iframe>
<iframe style="border: 0; width: 100%; height: 120px;" src="http://bandcamp.com/EmbeddedPlayer/album=1797817307/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/transparent=true/" seamless><a href="http://store.opidmusic.com/album/trapped">Trapped by Operation ID</a></iframe>
<p>
One of the craziest (and the last) Op ID shows that I played (ended with Jared getting
stitches at the hospital):
</p>
<iframe width="640" height="390" src="//www.youtube.com/embed/ZzgnjQ1HZpY" frameborder="0" allowfullscreen></iframe>
<hr>
<h3 id='other'>Other recordings</h3>
<p>
I played cello on Neil Welch's Sleeper album:
</p>
<iframe style="border: 0; width: 100%; height: 42px;" src="http://bandcamp.com/EmbeddedPlayer/album=2504187099/size=small/bgcol=ffffff/linkcol=0687f5/transparent=true/" seamless><a href="http://store.neilwelch.com/album/sleeper">Sleeper by Neil Welch</a></iframe>
<p>
I played some electric bass on The Lorens' track "Into Your Mind"
</p>
<iframe style="border: 0; width: 100%; height: 42px;" src="http://bandcamp.com/EmbeddedPlayer/album=3868222842/size=small/bgcol=ffffff/linkcol=0687f5/track=1414067254/transparent=true/" seamless><a href="http://thelorens.bandcamp.com/album/into-your-mind-out-this-window">Into Your Mind / Out This Window by The Lorens</a></iframe>
<p>
I recorded cello on iji's <em>Whatever Will Happen</em> record, out on Team Love:
</p>
<iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=419570479/size=small/bgcol=ffffff/linkcol=0687f5/transparent=true/" seamless><a href="http://ijiiji.bandcamp.com/album/whatever-will-happen">Whatever Will Happen by iji</a></iframe>
<p>
I recorded cello on ings' lovely <em>Afterthought EP</em>:
</p>
<iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=4038072902/size=small/bgcol=ffffff/linkcol=0687f5/transparent=true/" seamless><a href="http://ings.bandcamp.com/album/afterthought-ep">Afterthought EP by ings</a></iframe>
<h3>Cello</h3>
<p>
I occasionally record short improvisations on cello. Here's one I did at a swamp near Fall City:
</p>
<iframe width="640" height="390" src="//www.youtube.com/embed/heHjXHttvfo" frameborder="0" allowfullscreen></iframe>
<p>
Here's one I did at Racer Sessions:
</p>
<iframe width="640" height="390" src="https://www.youtube.com/embed/RoM9eucMUyQ" frameborder="0" allowfullscreen></iframe>
<p>
Sometimes I work on classical music. Here's a video of me playing the Crumb Sonata, Mvt 3:
</p>
<iframe width="640" height="390" src="//www.youtube.com/embed/rv0HmZKa7OU" frameborder="0" allowfullscreen></iframe>
<p>
Aaron Otheim and I sometimes perform as a cello/synthesizer duo. Here's a video of us
performing some outer space soundtrack-y music, with a video synth light show by
Nick Bartoletti.
</p>
<iframe width="640" height="390" src="//www.youtube.com/embed/WK-Zvekbxpc" frameborder="0" allowfullscreen></iframe>
