---
layout: main
date: Last Modified
title: home
---

<p>
  I am a musician and software developer currently living in Brooklyn, NY.
</p>

<p>
  Use the navigation up top to browse my creative projects and releases.
</p>

<img src='/assets/images/pika-pika-construction.gif'>
