---
layout: main
title: projects
excerpt: Major music projects that I've been a part of.
---

<h1>Projects</h1>

<ul>
  {% for project in collections.projects %}
    <li>
      <a href="{{ project.url }}">{{ project.data.title }}</a>
    </li>
  {% endfor %}
</ul>
